<h1>New contact</h1>

<% form_for([@contact.company, @contact], :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', company_contacts_path %>
